body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    z-index: 100;
  }
  
  .navbar-logo img {
    height: 70px;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin-left: 20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-logo {
      margin-bottom: 10px;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      padding: 0;
    }
  
    .navbar-links li {
      margin: 5px 0;
    }
  
    .navbar-links.active {
      display: flex;
    }
  }

  /* Content styling */

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product {
    width: 300px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .add-to-cart-btn {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  